* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}

/* Form Styles */

.lp_container {
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--dark-green-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: grid;
  -webkit-box-align: stretch;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
}

.lp_section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lp_form {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 1.25rem;
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: relative;
  align-self: flex-start;
  grid-column: 2;
}

.lp_form input[type="text"],
.lp_form input[type="email"],
.lp_form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.lp_form input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.lp_terms-container {
  margin-top: 10px;
}

.lp_terms-container label {
  font-size: 14px;
  color: #666;
}

.lp_terms-container .terms{
  text-align: space-between;
}

.lp_terms-container .underline {
  text-decoration: underline;
}

/* .lp_form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


/* Text Styles */

.text-container {
  padding: 20px;
  flex: 1;
  align-self: inherit;
  width: 50%;
}

.white {
  color: #fff;
}

.lp_section-title {
  color: var(--light-green-color);
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
}

.list-unstyled li:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 10px;
  background-color: var(--light-green-color);
}

.media {
  display: flex;
  align-items: center;
}

.media-body {
  margin-left: 10px;
}

.fas {
  font-size: 20px;
  color: var(--light-green-color);
}