body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.calls-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--green-bg-color);
  color: var(--white);
  height: 100vh;
}

.calls-form, .calls-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 7rem;
  padding-bottom: 5.625rem;
  box-sizing: border-box;
  position: relative;
}

.calls-info{
  padding-left: 5rem;
}

.calls-form{
  padding-right: 5rem;
}

.calls-info h2,
.calls-info p,
.calls-info ul {
  margin: 0 0 10px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

/* .calls-info, li:before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 10px;
  background-color: var(--light-green-color);
} */

.fas fa-square square-icon {
    font-size: 20px;
    color: var(--light-green-color);
}

.calls-info ul li {
  margin-bottom: 5px;
  color: var(--light-gray-color);
}

.calls-form input[type="text"],
.calls-form input[type="email"],
.calls-form select,
.calls-form button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.calls-form button {
  background-color: var(--light-green-color);
  color: var(--white);
  cursor: pointer;
  width: 100%;
}

.calls-form button:hover {
  background-color: transparent;
  color: var(--light-green-color);
  border: 1px solid var(--light-green-color);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--white);
}

.checkbox-container input:checked~.checkmark {
  background-color: var(--dark-gray-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}