@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "./variables.module.scss";

// :root {
//   --bg-color: #{$bg-color};
//   --green-bg-color: #{$green-bg-color};
//   --dark-green-color: #{$dark-green-color};
//   --light-green-color: #{$light-green-color};
//   --dark-gray-color: #{$dark-gray-color};
//   --light-gray-color: #{$light-gray-color};
//   --light-grey-border-color: #{$light-grey-border-color};
//   --white: #{$white};
//   --disabled-color: #{$disabled-color};
//   --dark-white-color: #{$dark-white-color};
//   --form-input-bg-color: #{$form-input-bg-color};
//   --form-input-border-color: #{$form-input-border-color};
//   --image-contrast: #{$image-contrast};
//   --image-greyscale: #{$image-greyscale};
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: $white;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 1px solid $light-green-color;
  background-color: $light-green-color;
  color: $white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all 0.125s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.3ch;
  font-size: 0.75rem;

  &:hover {
    background-color: transparent;
    color: #{$light-green-color};
  }
}

.lp-section-title {
  color: #{$light-green-color};
  font: 500 0.8125rem / 1.125rem "Montserrat", sans-serif;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 800px) and (orientation: landscape),
  screen and (max-height: 300px) {
  .mfp-img-mobile {
    .mfp-image-holder {
      padding-left: 0;
      padding-right: 0;
    }

    img.mfp-img {
      padding: 0;
    }

    .mfp-figure:after {
      top: 0;
      bottom: 0;
    }

    small {
      display: inline;
      margin-left: 5px;
    }

    .mfp-bottom-bar {
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      margin: 0;
      top: auto;
      padding: 3px 5px;
      position: fixed;
      box-sizing: border-box;

      &:empty {
        padding: 0;
      }
    }

    .mfp-counter {
      right: 5px;
      top: 3px;
    }

    .mfp-close {
      top: 0;
      right: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      text-align: center;
      padding: 0;
    }
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .label-control {
    top: 0.9375rem;
  }

  .form-control-input {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    line-height: 1.75rem;
  }

  .form-control-select {
    padding-top: 0.875rem;
    padding-bottom: 0.75rem;
    height: 3.125rem;
    line-height: 2.125rem;
  }

  input[type="checkbox"] {
    vertical-align: -9%;
  }
}
