$bg-color: #fbfbfb;
$green-bg-color: #153e52;
$dark-green-color: #113448;
$light-green-color: #14bf98;
$dark-gray-color: #484a46;
$light-gray-color: #787976;
$disabled-nav-content-color: #c1cace;
$light-grey-border-color: #ebe8e8;
$white: #fff;
$disabled-color: #e9ecef;
$dark-white-color: #dfe5ec;
$form-input-bg-color: #2a5d77;
$form-input-border-color: #39728f;
