@import "../../variables.module.scss";

.lp__navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s ease;
  z-index: 2;
  padding: 1rem 2rem;

  &.scrolling {
    background-color: $dark-green-color;
    padding: 0.75rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: $white;

    &_logo {
      margin-right: 2rem;

      img {
        width: 4rem;
        height: 4rem;
        clip-path: polygon(
          51% 19%,
          77% 34%,
          77% 65%,
          49% 80%,
          23% 65%,
          23% 34%
        );
        cursor: pointer;
      }
    }

    &_container {
      display: flex;
      gap: 1.5rem;

      p {
        margin: 0;
        padding: 0;
      }

      a {
        color: $white;
        font: 600 0.875rem / 0.875rem "Open Sans", sans-serif;
        text-transform: capitalize;
        cursor: pointer;
        transition: color 0.3s;

        &:hover,
        &.active {
          color: $light-green-color;
        }
      }
    }
  }

  &-menu {
    display: none;
    position: relative;

    svg {
      cursor: pointer;
    }

    &_container {
      display: flex;
      flex-direction: column;
      background: $dark-green-color;
      padding: 1.5rem;
      position: absolute;
      right: 1rem;
      top: 3.5rem;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      min-width: 200px;
      z-index: 3;
      text-align: right;

      p {
        margin: 1rem 0;
        font-size: 1rem;
      }

      a {
        color: $white;
        &:hover,
        &.active {
          color: $light-green-color;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-links_container {
      display: none;
    }

    &-menu {
      display: block;
    }
  }
}

.lp__icon {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  padding-left: 10px;

  .icon {
    width: 2rem;
    height: 2rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: $light-green-color;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $white;
      color: $light-green-color;
    }
  }
}
