@import "../../variables.module.scss";

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  padding: -1rem 20px 100px 20px;
  background-color: transparent;
  color: $dark-gray-color;
  height: 100vh;
  font: 400 1rem / 1.5rem "Open Sans", sans-serif;

  .contact-form,
  .contact-info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-bottom: 5.625rem;
    box-sizing: border-box;
    position: relative;
  }

  .section-title {
    display: block;
    font-size: 0.8125rem;
    font-weight: bold;
    color: $light-green-color;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
  }

  .contact-info {
    padding: 0rem 0 0 5rem;
    align-items: flex-start;

    h2,
    p,
    ul {
      margin: 0 0 10px;
    }

    h2 {
      margin-bottom: 1.375rem;
      font: 700 1.75rem;
      color: $dark-gray-color;
    }

    h3 {
      font: 700 1.375rem;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 5px;
        color: $light-gray-color;

        #underline {
          text-decoration: underline;
        }

        span {
          color: $light-green-color;
          margin-left: 10px;
        }
      }
    }

    .social-link-list-container {
      display: flex;
      justify-content: left;
      margin-top: 20px;

      .social-link-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 1rem 1.5rem 1rem;
        width: 3rem;
        height: 3rem;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );
        background-color: $light-green-color;
        color: $white;
        margin: 0 5px;
        cursor: pointer;
        font-size: 1.5rem;
        line-height: 1rem;

        &:hover {
          background-color: $white;
          color: $light-green-color;
        }

        i {
          font-size: 18px;
        }
      }
    }
  }

  .contact-form {
    top: 5rem;
    padding-right: 5rem;
    box-sizing: border-box;
    position: relative;

    input[type="text"],
    input[type="email"],
    select,
    button {
      padding: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      width: 100%;
    }
    input[type="text"],
    input[type="email"] {
      border: 1px solid $dark-gray-color;
    }
    button {
      border: 2px solid $light-green-color;
    }

    input[type="message"] {
      padding: 2px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 10rem;
      border: 1px solid $dark-gray-color;
    }

    .checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border: 1px solid $dark-gray-color;
        border-radius: 5px;

        &:after {
          content: "";
          position: absolute;
          display: none;
        }
      }

      input:checked ~ .checkmark {
        background-color: $dark-gray-color;

        &:after {
          display: block;
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid $white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }
    }
  }
}
