body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 100px 20px;
    background-color:transparent;
    color: var(--dark-gray-color);
    height: 100vh;
    font: 400 1rem / 1.5rem "Open Sans", sans-serif;
}

/*.contact-form,*/ .contact-info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 7rem;
    padding-bottom: 5.625rem;
    box-sizing: border-box;
    position: relative;
}

.section-title {
    display: block;
    font-size: 0.8125rem;
    font-weight: bold;
    color: var(--light-green-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
}

.contact-info {
    padding-left: 5rem;
}

.contact-info h2,
.contact-info p,
.contact-info ul {
    margin: 0 0 10px;
}

.contact-info h2{
    margin-bottom: 1.375rem;
    font: 700 1.75rem; 
}

.contact-info h3{
    font: 700 1.375rem; 
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.fas fa-square square-icon {
    font-size: 20px;
    color: var(--light-green-color);
}

.contact-info ul li {
    margin-bottom: 5px;
    color: var(--light-gray-color);
}

.social-link-list-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.social-link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem 1.5rem 1rem;
    width: 3rem;
    height: 3rem;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: var(--light-green-color);
    color: var(--white);
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1rem;
}

.social-link-item:hover{
  background-color: var(--white);
  color: var(--light-green-color);
}

.social-link-item i {
    font-size: 18px;
}

/* .contact-form {
    padding-right: 5rem;
    box-sizing: border-box;
    position: relative;
} 

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="message"]
.contact-form select,
.contact-form button {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: 1px solid var(--dark-gray-color);
} 

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} 

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--white);
}

.checkbox-container input:checked~.checkmark {
    background-color: var(--dark-gray-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
} */