.lp__header_section__padding {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.lp_section-title {
    display: block;
    font-size: 0.8125rem;
    font-weight: bold;
    color: var(--light-green-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.lp__header_section__padding h2{
    color: var(--dark-gray-color);
    text-align: center;
}

.lp_service-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.service-item_1, .service-item_2, .service-item_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    background-color: var(--white);
    border-radius: 10px;
}

.service-item_1 .Coffeecup{
  background-image: url(../../assets/Coffeecup.jpg);
  top: 0;
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  background-size: cover;
  align-items: center;
  justify-content: center;
}
.service-item_2 .Book{
  margin-top: -1.19rem;
  background-image: url(../../assets/Book.jpg);
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
}
.service-item_3 .Laptop{
  margin-top: -1.19rem;
  background-image: url(../../assets/Laptop.jpg);
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  object-position: center;
  object-fit: contain;
  background-size: cover;
  align-items: start;
  justify-content: start;
}

.service-item h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-gray-color);
    margin-bottom: 10px;
}

.fas fa-square square-icon {
    font-size: 20px;
    color: var(--light-green-color);
}

/* .service-item_1 li {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .service-item_1 li {
  margin-bottom: 10px;
} */

.service-item_1, li:before {
  /* content: "";
  display: inline-block; */
  width: 0.5rem;
  height: 0.5rem;
  /* margin-right: 10px; */
  background-color: var(--light-green-color);
}

.service-item_1, .service-item_2, .service-item_3 p {
    font-size: 16px;
    color: var(--dark-gray-color);
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.service-item li {
    margin: 0 10px;
    font-size: 14px;
    color: var(--dark-gray-color);
}

.lp_service-list-container ul li span {
    font-size: 20px;
    color: var(--light-green-color);
    margin-right: 10px;
}

.service-item h6 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.service-item .price {
    font-size: 20px;
    font-weight: bold;
    color: var(--light-green-color);
    margin-left: 10px;
}

.service-item button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--light-green-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-item button:hover {
    background-color: transparent;
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
}