.lp__header_section__padding {
    padding: 100px 0;
    background-color: #f5f5f5;
}

.lp_section-title {
    display: block;
    font-size: 0.8125rem;
    font-weight: bold;
    color: var(--light-green-color);
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

.lp__header_section__padding h2{
    color: var(--dark-gray-color);
    text-align: center;
}

.lp_service-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 10rem;
}

.service-item_1, .service-item_2, .service-item_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    background-color: var(--white);
    border-radius: 10px;
}

.service-item_1 .Coffeecup{
  background-image: url(../../assets/Coffeecup.jpg);
  top: 0;
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.service-item_2 .Book{
  margin-top: -1.19rem;
  background-image: url(../../assets/Book.jpg);
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
}
.service-item_3 .Laptop{
  margin-top: -1.19rem;
  background-image: url(../../assets/Laptop.jpg);
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
  display: block;
  border-radius: 10px;
  object-position: center;
  object-fit: contain;
  background-size: cover;
  align-items: start;
  justify-content: start;
}

.service-item h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark-gray-color);
    margin-bottom: 10px;
}

.fas fa-square square-icon {
    font-size: 20px;
    color: var(--light-green-color);
}

/* .service-item_1 li {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* .service-item_1 li {
  margin-bottom: 10px;
} */

.service-item_1, li:before {
  /* content: "";
  display: inline-block; */
  width: 0.5rem;
  height: 0.5rem;
  /* margin-right: 10px; */
  background-color: var(--light-green-color);
}

.service-item_1, .service-item_2, .service-item_3 p {
    font-size: 16px;
    color: var(--dark-gray-color);
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.service-item li {
    margin: 0 10px;
    font-size: 14px;
    color: var(--dark-gray-color);
}

.lp_service-list-container ul li span {
    font-size: 20px;
    color: var(--light-green-color);
    margin-right: 10px;
}
.lp_service-list-container ul li span, .price {
    font-size: 1rem;
    color: var(--light-green-color);
    margin-right: 10px;
    margin-bottom: 0.25rem;
    font: 700;
    margin-left: 5px;
}

.service-item_1 h6, .service-item_2 h6, .service-item_3 h6 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.service-item .price {
    font-size: 20px;
    font-weight: bold;
    color: var(--light-green-color);
    margin-left: 10px;
}

.service-item button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--light-green-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-item button:hover {
    background-color: transparent;
    color: var(--light-green-color);
    border: 1px solid var(--light-green-color);
}

.propositions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.propositions img {
  background-image: url(../../assets/Mountain.jpg);
  width: 50%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.propositions .content {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.propositions h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-gray-color);
  margin-bottom: 20px;
}

.propositions h4 {
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-gray-color);
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-flex; 
  align-items: center; 
}

.propositions h4.active {
  color: var(--light-green-color);
}

.propositions.propositions-1 h4:hover {
  color: var(--light-green-color);
}

.propositions .numbering {
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-gray-color);
  margin-right: 10px;
  border: 1px solid var(--dark-gray-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}


.propositions.propositions-1 h4:hover span.numbering{
  color: var(--light-green-color);
  border-color: var(--light-green-color);
}

.propositions .numbering.active {
  border-color: var(--light-green-color);
  background-color: var(--light-green-color);
  color: var(--white);
}

.propositions p {
  font-size: 16px;
  color: var(--dark-gray-color);
  line-height: 1.5;
  margin-bottom: 20px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown h4 {
  font-size: 18px;
  font-weight: bold;
  color: var(--dark-gray-color);
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.dropdown h4 span.numbering {
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-gray-color);
  margin-right: 10px;
  border: 1px solid var(--dark-gray-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.dropdown.active h4 span.numbering {
  border-color: var(--light-green-color);
  background-color: var(--light-green-color);
  color: var(--white);
}

.dropdown p {
  font-size: 16px;
  color: var(--dark-gray-color);
  line-height: 1.5;
  margin-bottom: 20px;
  display: none;
}

.dropdown.active p {
  display: block;
}