/* footer.css */
.footer {
    background-color: var(--dark-green-color);
    padding: 60px 0;
}

.text-container {
    padding: 0 15px;
}

.about h4 {
    color: #fff;
}

.white {
    color: #fff;
}

ul li a {
    color: #fff;
}

ul li a:hover {
    text-decoration: underline;
}

ul li a:active {
    text-decoration: underline;
}

ul li {
    list-style: none;
    margin-bottom: 15px;
}

li.media {
    margin-top: 15px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.text-container.about {
    padding-top: 30px;
}

.footer h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
}

.footer p {
    color: #bbb;
    font-size: 15px;
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer a:hover {
    cursor: pointer;
}

.lp__footer-heading {
    margin-bottom: 20px;
}

.lp__footer-para p {
    margin-bottom: 20px;
}

.lp__footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.lp__footer-links_div {
    flex: 0 0 30%;
    max-width: 30%;
}

.lp__footer-links_div h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.lp__footer-links_div p {
    color: #bbb;
    margin-bottom: 10px;
}

.lp__footer-copyright p {
    color: #bbb;
}

